[general]
download_path        = $HOME/Downloads
preview_path         = $HOME/Downloads
cmd_prefix           = /
show_command         = jp2a --color
enable_notifications = true
use_terminal_bell    = false
notification_timeout = 60
backlog_msg_quantity = 10

[keymap]
switch_panels    = Tab
focus_messages   = Ctrl+w
focus_input      = Ctrl+Space
focus_chats      = Ctrl+e
copyuser         = Ctrl+c
pasteuser        = Ctrl+v
command_backlog  = Ctrl+b
command_read     = Ctrl+n
command_connect  = Ctrl+r
command_quit     = Ctrl+q
command_help     = Ctrl+?
message_download = d
message_open     = o
message_show     = s
message_url      = u
message_info     = i
message_revoke   = r

[ui]
chat_sidebar_width = 20

[colors]
background       = darkslategre
text             = white
forwarded_text   = mediumslateblue
list_header      = lightskyblue
list_contact     = white
list_group       = lightskyblue
chat_contact     = green
chat_me          = blue
borders          = darkslateblue
input_background = darkslategre
input_text       = white
unread_count     = skyblue
positive         = green
negative         = hotpink
